{% extends 'base.html' %}

{% block content %}

<style>    
    .header-color {
        background-color: #007bff;
        color: white;
    }

    .card-header {
        font-size: 1.5em;
    }
    
    .card {
        margin-top: 50px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
    
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary text-white">Inventory Page</div>
                <div class="card-body">
                    <h5>Name:</h5>
                    <p>{{name}}</p>

                    <h5>Class:</h5>
                    <p>{{class}}</p>

                    <p>Kamu menyimpan {{ item_count }} jenis item di sini</p>

                    <table class="table full-width">
                        <thead class="header-color">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date Added</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{item.name}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.date_added}}</td>
                                    <td>
                                        <form method="post" action="{% url 'main:add_amount' item.id %}" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-success">Tambah</button>
                                        </form>
                                        <form method="post" action="{% url 'main:min_amount' item.id %}" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-warning">Kurang</button>
                                        </form>
                                        <form method="post" action="{% url 'main:remove_item' item.id %}" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Hapus</button>
                                        </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <h5>Sesi terakhir login: {{ last_login }}</h5>

                <a href="{% url 'main:create_item' %}" class="btn btn-success">Add New Item</a>
                <a href="{% url 'main:logout' %}" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
