{% extends 'base.html' %}

{% block content %}
    <h1>Inventory Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    {% comment %} Mengimplementasikan fitur tambahan {% endcomment %}
    <p>Kamu menyimpan {{ item_count }} item di sini</p>

    <table>
        <tr>
            <th style="width: 15%;" align="center">Name</th>
            <th style="width: 10%;" align="center">Amount</th>
            <th style="width: 40%;" align="center">Description</th>
            <th align="center">Date Added</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for item in items %}
            <tr>
                <td style="width: 15%;" align="center">{{item.name}}</td>
                <td style="width: 10%;" align="center">{{item.amount}}</td>
                <td style="width: 40%;" align="center">{{item.description}}</td>
                <td align="center">{{item.date_added}}</td>
                <td align="center">
                    <div style="display: inline-block;">
                        <form method="post" action="{% url 'main:add_amount' item.id %}">
                            {% csrf_token %}
                            <button type="submit">Tambah</button>
                        </form>
                    </div>
                    <div style="display: inline-block;">
                        <form method="post" action="{% url 'main:min_amount' item.id %}">
                            {% csrf_token %}
                            <button type="submit">Kurang</button>
                        </form>
                    </div>
                    <div style="display: inline-block;">
                        <form method="post" action="{% url 'main:remove_item' item.id %}">
                            {% csrf_token %}
                            <button type="submit">Hapus</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br />

    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Item
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

{% endblock content %}